@tailwind base;
@tailwind utilities;

* {
    --swiper-navigation-size: 28px;
    --swiper-navigation-color: #f8fafc;
    --swiper-arrows-visibility: flex;
}

html {
    --outline-color: #eab308;
    --outline-button-color: #eab308;
    --active-color: #eab308;
    --tabs-bg-color: #e5e7eb;
    --tabs-color: #303337;
    --active-tab-bg: #ffffff;
    --active-tab-color: #127cff;
    --link-color: #475569;
    --link-hover-color: #243043;
    --bg-color: #f8fafc;
    --input-bg-color: #f8fafc;
    --bg-color-modal: #f8fafc;
    --title-color: #475569;
    --subtitle-color: #64748b;
    --card-bg-color: #ffffff;
    --card-hover-bg-color: #f1f5f9;
    --card-active-bg-color: #e2e8f0;
}

html[theme="dark"] {
    --outline-color: #127cff;
    --outline-button-color: #eab308;
    --active-color: #127cff;
    --tabs-bg-color: #303337;
    --tabs-color: #cbd5e1;
    --active-tab-bg: #127cff; 
    --active-tab-color: #ffffff;
    --link-color: #cbd5e1;
    --link-hover-color: #94a3b8;
    --bg-color: #242629;
    --input-bg-color: #303337;
    --bg-color-modal: #1d1d20;
    --title-color: #f1f5f9;
    --subtitle-color: #e2e8f0;
    --card-bg-color: #102339;
    --card-hover-bg-color: #112e4b;
    --card-active-bg-color: #1f4164;
}

html[is-touch-device="true"] {
    --swiper-arrows-visibility: none;
}

html.no-scroll {
    overflow: hidden;
    padding-right: 0;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    display: var(--swiper-arrows-visibility);
    border-radius: 6px;
    color: #767a80;
    padding: 6px;
    box-sizing: content-box;
}

.swiper .swiper-button-prev:hover,
.swiper .swiper-button-next:hover {
    background-color: #767a80;
    color: #f2f2f2;
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
}

button, input, textarea, a {
    outline-offset: 3px !important;
    outline-width: 2px !important;
    outline-color: transparent !important;
    outline-style: solid !important;
}

.btn:focus, .toggle:focus, input:focus, textarea:focus {
    outline-color: var(--outline-color) !important;
}

button:focus, a:focus {
    color: var(--outline-button-color) !important;
}

input, textarea, .progress-text {
    background-color: var(--input-bg-color);
    color: var(--subtitle-color);
}

.input-icon {
    color: var(--subtitle-color);
}

.file-attached {
    background-color: var(--card-active-bg-color);
    color: var(--subtitle-color);
}

html, body, #app, #layout, .document-view-container  {
    height: 100%;
    background-color: var(--bg-color);
}

.card, .header {
    background-color: var(--card-bg-color);
    color: var(--title-color);
}

.modal, .preview {
    background-color: var(--bg-color-modal);
    color: var(--title-color);
}

.card:active {
    background-color: var(--card-active-bg-color) !important;
}

.card:hover {
    background-color: var(--card-hover-bg-color);
}

.title {
    color: var(--title-color);
}

.subtitle {
    color: var(--subtitle-color);
}

.link, .label {
    color: var(--link-color);
}

.link:active {
    color: var(--active-color) !important;
}

.link:hover {
    color: var(--link-hover-color);
}

.header button:active {
    background-color: var(--card-active-bg-color);
    color: var(--active-tab-color);
}

.tabs {
    background-color: var(--tabs-bg-color);
    color: var(--tabs-color);
}

.active-tab {
    color: var(--active-tab-color);
}

.tabs-active {
    background-color: var(--active-tab-bg);
}

.policy-text h2 {
    font-weight: 600;
    margin: 0;
}

.policy-text a {
    color: #127cff;
}

.bookmarks-list {
    color: var(--subtitle-color);
}

.bookmarks-list li {
    border-bottom: 1px solid var(--link-color);
}

html[is-touch-device="false"] .bookmarks-list li:hover {
    background-color: var(--card-hover-bg-color);
}

html[is-touch-device="false"] .bookmarks-list .btn-icon:hover {
    color: var(--link-hover-color);
}

@media (max-width: 640px) {
    * {
        --swiper-arrows-visibility: none
    }
}